RewriteEngine On
RewriteCond %{HTTP_HOST} ^devkodz\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.devkodz.com/$1 [R,L]

RewriteCond %{HTTP_HOST} ^www.devkodz\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.devkodz.com/$1 [R,L]


RewriteEngine on
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php  [NC,L]


